<h1>Display your Pirate here</h1>
<p>Name: </p>
<p> <%= @pirate.name %> </p>
<p>Weight: </p>
<p> <%= @pirate.weight %> </p>
<p>Height: </p>
<p> <%= @pirate.height %> </p>

<h2>Display your first ship here</h2>
<p>Name: </p>
<p> <%= @ship_01.name %> </p>
<p> Type: </p>
<p> <%= @ship_01.type %> </p>
<p> Booty: </p>
<p> <%= @ship_01.booty %> </p>

<h2>Display your second ship here</h2>
<p>Name: </p>
<p> <%= @ship_02.name %> </p>
<p> Type: </p>
<p> <%= @ship_02.type %> </p>
<p> Booty: </p>
<p> <%= @ship_02.booty %> </p>
