<h1><%=@pirate.name%></h1>
<ul>
  <li><%=@pirate.weight%></li>
  <li><%=@pirate.height%></li>
</ul>


<h2><%=@ships[0].name%></h2>
<ul>
  <li><%=@ships[0].type%></li>
  <li><%=@ships[0].booty%></li>
</ul>


<h2><%=@ships[1].name%></h2>
<ul>
  <li><%=@ships[1].type%></li>
  <li><%=@ships[1].booty%></li>
</ul>
