<h1>
Pirate Name:<%=@pirate_info.name%>
<br>
Pirate Height:<%=@pirate_info.height%>
<br>
Pirate Weight:<%=@pirate_info.weight%>
<br>
</h1>


<h2> 
Ship One Name: <%=@ships[0].name%>
<br>
Ship One Type: <%=@ships[0].type%>
<br>
Ship One Booty: <%=@ships[0].booty%>
<br>
</h2>


<h2>
Ship Two Name: <%=@ships[1].name%>
<br>
Ship Two Type: <%=@ships[1].type%>
<br>
Ship Two Booty: <%=@ships[1].booty%>
<br>

</h2>
